*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("flor.jpg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }

    
.contenido{

    height: 214px;
    
    width: 369px;
    
    position: absolute;
    
    top: 410px;
    
     
    
    }
    
     
    
    .imagensoc{
    
     
    
    background-repeat: no-repeat;
    
    float:left;
    
    height: 100px;
    
    width: 100px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url("flor.jpg");
    
    }
    
    
    
    .textosoc{
    
    text-align: justify;
    
    color: azure;
    
    font-size: 20px;
    
    
    
    }

